{% extends "layout.html" %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 m-top-big cnx-container">
                <div class="row m-bottom-mini">
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <img src="{% static 'images/logo_new.png' %}" alt="logo sbf" class="img-fluid">
                    </div>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="row mb-3 p-top-mini">
                      <label for="{{ form.code.id_for_label }}" class="col-sm-3 col-form-label">Code</label>
                      <div class="col-sm-9">
                        {{ form.code }}
                        <div id="codeHelp" class="form-text text-danger">
                          {{ form.code.errors }}
                        </div>
                      </div>

                    </div>
                    <div class="row mb-3">
                      <label for="{{ form.password.id_for_label }}" class="col-sm-3 col-form-label">Mot de Passe</label>
                      <div class="col-sm-9">
                        {{ form.password }}
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Connexion</button>
                  </form>
                  <a href="{% url 'home' %}">Revenir sur le site</a>
            </div>
        </div>
    </div>

{% endblock  %}