<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello, my name is {{ user.username }} </h1>
    <p>
        <a href="{% url 'logout' %}">Deconnexion</a>
    </p>
    <p>Code de parrainage : {{ code.code_parrain }} </p>
    <ul>
        {% for affilie in affilies %}
            <li>{{ affilie.user.username }}</li>
            <ul>
                {% if affilie.team %}
                    {% for member in affilie.team %}
                        <li>{{ member.user.username }}</li>
                    {% endfor %}
                {% else %}
                    <li> Rien a signaler </li>
                {% endif %}
            </ul>
        {% empty %}
            <li>Rien a signaler</li>
        {% endfor %}
    </ul>
</body>
</html>