{% extends "layout.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 m-top-mini cnx-container">
            <div class="row m-bottom-mini">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <img src="{% static 'images/logo_new.png' %}" alt="logo sbf" class="img-fluid">
                </div>
            </div>
            <form class="row g-3" method="POST" action="">
                {% csrf_token %}
                <div class="col-md-6">
                  <label for="nom" class="form-label">Nom d'utilisateur</label>
                  <input type="text" class="form-control" name="username" id="nom">
                </div>
                <div class="col-md-6">
                    <label for="code" class="form-label">Code du Parrain</label>
                    <input type="text" class="form-control" name="code" id="code">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email"  id="inputEmail4">
                  </div>
                  <div class="col-md-6">
                      <label for="telephone" class="form-label">Numéro de téléphone</label>
                      <input type="tel" class="form-control" name="phone_number" id="telephone">
                  </div>
                <div class="col-md-6">
                  <label for="motdepasse" class="form-label">Mot de passe</label>
                  <input type="password" class="form-control" name="password" id="motdepasse">
                </div>
                <div class="col-md-6">
                    <label for="confirmation" class="form-label">Confirmer le mot de passe</label>
                    <input type="password" class="form-control" name="confirm_password" id="confirmation">
                  </div>
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      J'accepte <a href="#"><b>les conditions</b></a> fixés par SBF.
                    </label>
                  </div>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Valider l'inscription</button>
                </div>
              </form>
              <a href="{% url 'home' %}">Revenir sur le site</a>
        </div>
    </div>
  </div>
{% endblock content %}