{% extends "layout.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 m-top-mini cnx-container">
            <div class="row m-bottom-mini">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <img src="{% static 'images/logo_new.png' %}" alt="logo sbf" class="img-fluid">
                </div>
            </div>
            <form class="row g-3" method="POST" action="">
                {% csrf_token %}
                <div class="col-md-6">
                  <label for="nom" class="form-label">Code du Parrain</label>
                  <input type="text" class="form-control {% if form.code_parrain.errors %} is-invalid {% endif %}" name="code_parrain" id="code_parrain" placeholder="SBF..." aria-describedby="validationServer09Feedback">
                  <div id="validationServer09Feedback" class="invalid-feedback">
                    {{ form.code_parrain.errors }}
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="nom" class="form-label">Nom d'utilisateur</label>
                  <input type="text" class="form-control {% if form.username.errors %} is-invalid {% endif %}" name="username" id="nom" required placeholder="Votre Nom" aria-describedby="validationServer01Feedback">
                  <div id="validationServer01Feedback" class="invalid-feedback">
                    {{ form.username.errors }}
                  </div>
                </div>
                <div class="col-md-6">
                    <label for="code" class="form-label">Code</label>
                    <input type="text" class="form-control {% if form.code.errors %} is-invalid {% endif %}" name="code" id="code" required placeholder="Votre Code" aria-describedby="validationServer02Feedback" />
                    <div id="validationServer02Feedback" class="invalid-feedback">
                      {{ form.code.errors }}
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control {% if form.email.errors %} is-invalid {% endif %}" name="email"  id="inputEmail4" required placeholder="Email" aria-describedby="validationServer03Feedback">
                    <div id="validationServer03Feedback" class="invalid-feedback">
                      {{ form.email.errors }}
                    </div>
                  </div>
                  <div class="col-md-6">
                      <label for="telephone" class="form-label">Numéro de téléphone</label>
                      <input type="tel" class="form-control {% if form.phone_number.errors %} is-invalid {% endif %}" name="phone_number" id="telephone" required placeholder="Numéro de téléphone" aria-describedby="validationServer04Feedback">
                      <div id="validationServer04Feedback" class="invalid-feedback">
                        {{ form.phone_number.errors }}
                      </div>
                  </div>
                <div class="col-md-6">
                  <label for="motdepasse" class="form-label">Mot de passe</label>
                  <input type="password" class="form-control {% if form.password.errors %} is-invalid {% endif %}" name="password" id="motdepasse" required placeholder="Mot de Passe" aria-describedby="validationServer05Feedback">
                  <div id="validationServer05Feedback" class="invalid-feedback">
                    {{ form.password.errors }}
                  </div>
                </div>
                <div class="col-md-6">
                    <label for="confirmation" class="form-label">Confirmer le mot de passe</label>
                    <input type="password" class="form-control {% if form.confirm_password.errors %} is-invalid {% endif %}" name="confirm_password" id="confirmation" required placeholder="Retapez le meme mot de passe" aria-describedby="validationServer06Feedback">
                    <div id="validationServer06Feedback" class="invalid-feedback">
                      {{ form.confirm_password.errors }}
                    </div>
                  </div>
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      J'accepte <a href="#"><b>les conditions</b></a> fixés par SBF.
                    </label>
                  </div>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Valider l'inscription</button>
                </div>
              </form>
              <a href="{% url 'home' %}">Revenir sur le site</a>
        </div>
    </div>
  </div>
{% endblock content %}