<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>SBF MLM</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- Own Matrix CSS  -->
    <link href="css/matrix.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="css/animate.min.css" rel="stylesheet"/>
    <!--  Light Bootstrap Table core CSS    -->
    <link href="css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="css/demo.css" rel="stylesheet" />
    <!--Fonts and icons-->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Votre Arbre</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table" border="0" align="center" style="text-align: center">
                        <tr height="150">
                            ngai
                            <td>50</td>
                            <td colspan="8"><i class="fa fa-user fa-4x" style="color:orange;"></i><p>Mohamed</p><span>12</span></td>
                            <td>100</td>
                        </tr>
                        <tr height="150">
                            b
                            <td colspan="2"><a href=""><i class="fa fa-user fa-4x" style="color:red;"></i><p>aff1</p></a></td>
                            <td colspan="5"><a href=""><i class="fa fa-user fa-4x" style="color:red;"></i><p>aff1</a></td>
                                <td colspan="5"><a href=""><i class="fa fa-user fa-4x" style="color:red;"></i><p>aff1</a></td>
                            <td colspan="2"><a href=""><i class="fa fa-user fa-4x" style="color:red;"></i><p>aff1</p></a></td>
                        </tr>
                        <tr height="150">
                            g
                                <!-- left user data -->
                            <td><i class="fa fa-user fa-4x" style="color:green;"></i><p>aff1</p></td>
                            <td><i class="fa fa-user fa-4x" style="color:green;"></i><p>aff1</p></td>
                            <td><i class="fa fa-user fa-4x" style="color:green;"></i><p>aff2</p></td>
                            <td><i class="fa fa-user fa-4x" style="color:green;"></i><p>aff3</p></td>
                            <!-- middle user data -->
                            <td><i class="fa fa-user fa-4x" style="color:green;"></i><p>aff4</p></td>
                            <td><i class="fa fa-user fa-4x" style="color:green;"></i><p>aff1</p></td>
                            <td><i class="fa fa-user fa-4x" style="color:green;"></i><p>aff5</p></td>
                            <td><i class="fa fa-user fa-4x" style="color:green;"></i><p>aff6</p></td>
                            <!-- right user data -->
                            <td><i class="fa fa-user fa-4x" style="color:green;"></i><p>aff7</p></td>
                            <td><i class="fa fa-user fa-4x" style="color:green;"></i><p>aff1</p></td>
                            <td><i class="fa fa-user fa-4x" style="color:green;"></i><p>aff8</p></td>
                            <td colspan="2"><i class="fa fa-user fa-4x" style="color:green;"></i><p>aff9</p></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
        <!-- /.container-fluid -->

    <footer class="footer">
        <div class="container-fluid ">
            <p class="copyright pull-right">
                &copy; <script>document.write(new Date().getFullYear())</script> SBF
            </p>
        </div>
    </footer>


</body>

    <!--   Core JS Files   -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!--  Charts Plugin -->
    <script src="js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="js/bootstrap-notify.js"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="js/light-bootstrap-dashboard.js?v=1.4.0"></script>

    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="js/demo.js"></script>
    <!-- own JS -->
    <script src="js/own.js"></script>

</html>
<!-- footer include -->